<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Demo Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>

<div class = "row" style = "padding-top: 50px">
    <div class ="col-md-3" >
    </div>
    <div class ="col-md-2">
        <span>User ID: </span>
    </div>
    <div class ="col-md-4">
        <input type="text" name="user_id" id="user_id"/>
    </div>
    <div class ="col-md-3">
    </div>
</div>

<div class = "row">
    <div class ="col-md-4">
    </div>
    <div class ="col-md-4">
        <input type="button" name="getData" id="getData" value="GET DATA" onclick="getDataFromAPI();"/>
    </div>
    <div class ="col-md-4">
    </div>
</div>

<div class = "row" style = "padding-top: 50px">
    <div class ="col-md-4">
    </div>
    <div class ="col-md-4">
        <button onclick="window.location.href='http://localhost:8083/home';">
            Go Home
        </button>
    </div>
    <div class ="col-md-4">
    </div>
</div>

<div class = "row">
    <div class ="col-md-3">
    </div>
    <div class ="col-md-6">
        <div id="list" style = "padding-top: 50px"></div>
    </div>
    <div class ="col-md-3">
    </div>
</div>

<script>
	function getDataFromAPI() {

	    $("#list").empty();//Clear old data before ajax

	    $.ajax({
	        url: "/timeline/user/" + $("#user_id").val(),
	        type: "GET",
	        success: function (data) {
	            console.log(data);
	        	console.log("GET DATA API RESPONSE - USER ID:" + data[0].userId);
	        	console.log("GET DATA API RESPONSE - Timeline ID:" + data[0].timelineId);
	        	console.log("GET DATA API RESPONSE - Media ID:" + data[0].mediaId);
	        	console.log("GET DATA API RESPONSE - Creation Time:" + data[0].creationTime);
	        	console.log("GET DATA API RESPONSE - Status:" + data[0].status);
	        	console.log("GET DATA API RESPONSE - Rating:" + data[0].rating);
	        	console.log("GET DATA API RESPONSE - Comment:" + data[0].comment);

	        	var table = $("#list");
                table.append("<b>USER ID: </b><p>" + data[0].userId + "</p>");
                table.append("<b>Timeline ID: </b><p>" + data[0].timelineId + "</p>");
                table.append("<b>Media ID: </b><p>" + data[0].mediaId + "</p>");
                table.append("<b>Creation Time: </b><p>" + data[0].creationTime + "</p>");
                table.append("<b>Status: </b><p>" + data[0].status + "</p>");
                table.append("<b>Rating: </b><p>" + data[0].rating + "</p>");
                table.append("<b>Comment: </b><p>" + data[0].comment + "</p>");
	        },
	        error: function (jqXHR, textStatus, errorThrown) {
	        }
		});
	}

	</script>
</body>
</html>