<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Demo Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>

<div class = "row" style = "padding-top: 50px">
    <div class ="col-md-3">
    </div>
    <div class ="col-md-2">
        <span>User Name: </span>
    </div>
    <div class ="col-md-4">
        <input type="text" name="user_name" id="user_name"/>
    </div>
    <div class ="col-md-3">
    </div>
</div>

<div class = "row">
    <div class ="col-md-3">
    </div>
    <div class ="col-md-2">
        <span>Email: </span>
    </div>
    <div class ="col-md-4">
        <input type="text" name="user_email" id="user_email"/>
    </div>
    <div class ="col-md-3">
    </div>
</div>

<div class = "row">
    <div class ="col-md-3">
    </div>
    <div class ="col-md-2">
        <span>Is Private? </span>
    </div>
    <div class ="col-md-4">
        <select id="selectIsPrivate">
            <option value="false" selected="selected">No</option>
            <option value="true">Yes</option>
        </select>
    </div>
    <div class ="col-md-3">
    </div>
</div>

<div class = "row">
    <div class ="col-md-3">
    </div>
    <div class ="col-md-2">
        <span>Is Adult? </span>
    </div>
    <div class ="col-md-4">
        <select id="selectIsAdult">
            <option value="false" selected="selected">No</option>
            <option value="true">Yes</option>
        </select>
    </div>
    <div class ="col-md-3">
    </div>
</div>

<div class = "row">
    <div class ="col-md-4">
    </div>
    <div class ="col-md-4">
        <input type="button" name="postData" id="postData" value="POST DATA" onclick="postDataFromAPI();"/>
    </div>
    <div class ="col-md-4">
    </div>
</div>

<div class = "row" style = "padding-top: 50px">
    <div class ="col-md-4">
    </div>
    <div class ="col-md-4">
        <button onclick="window.location.href='http://localhost:8083/home';">
            Go Home
        </button>
    </div>
    <div class ="col-md-4">
    </div>
</div>

<div class = "row">
    <div class ="col-md-3">
    </div>
    <div class ="col-md-6">
        <div id="list" style = "padding-top: 50px"></div>
    </div>
    <div class ="col-md-3">
    </div>
</div>

<script>
	function postDataFromAPI() {

	    const bool1 = document.getElementById('selectIsPrivate').value == "true" ? true : false;
	    console.log(bool1);
	    const bool2 = document.getElementById('selectIsAdult').value == "true" ? true : false;
	    console.log(bool2);

	    var modelObj = {
            "username": $("#user_name").val(),
            "email": $("#user_email").val(),
            "accountSetting": {
                "isPrivate": bool1,
                "isAdult": bool2
            }
        };

		console.log("post data:"+modelObj);

		 $.ajax({
	            type: "POST",
	            url: "/user",
	            headers: {
	                "Content-Type": "application/json"
	            },
	            data: JSON.stringify(modelObj),
	            success: function (data) {
	            	console.log(data);
                    console.log("POST DATA API RESPONSE - USER NAME:" + data.username);
                    console.log("POST DATA API RESPONSE - USER EMAIL:" + data.email);
                    console.log("POST DATA API RESPONSE - USER IS PRIVATE:" + data.accountSetting.isPrivate);
                    console.log("POST DATA API RESPONSE - USER IS ADULT:" + data.accountSetting.isAdult);

                    var table = $("#list");
                    table.append("<b>USER NAME: </b><p>" + data.username + "</p>");
                    table.append("<b>USER EMAIL: </b><p>" + data.email + "</p>");
                    table.append("<b>USER IS PRIVATE: </b><p>" + data.accountSetting.isPrivate + "</p>");
                    table.append("<b>USER IS ADULT: </b><p>" + data.accountSetting.isAdult + "</p>");
	            },
	            error: function (jqXHR, textStatus, errorThrown) {
	            }
	        });
	}
</script>
</body>
</html>